<script src="./layouts/main.handlebars"></script>
  <div class="container">
    <div class="container bg">

      <div class="row">
        <div class="col-lg-12">
          <h3>Eat-Da-Burger App</h3>
          <div class="center col-sm-12">
            
            <p></p>
          </div>
        </div>
        <!--end-->
        <div class="row">
          <div class="col-sm-6">

            <br>
            <h2>Burgers Available To Eat!</h2>

            <ul>
              {{#each burgers}}
              {{#unless this.devoured}}
              <li>
                {{this.id}}
                {{this.burger_name}}
                <button data-id={{this.id}} class="btn btn-info devour-burger" data-devoured="true">Devour Burger</button> 
              </li>
              {{/unless}}
              {{/each}}

          </div>


          <div class="col-sm-6">

            <h2>Burgers That Have Been Eaten!</h2>

            <ul>

              {{#each burgers}}
              {{#if this.devoured}}
              <li>
                {{this.id}}
                {{this.burger_name}}
                <button data-id={{this.id}} class="btn btn-danger delete-burger" data-devoured="true">Delete Burger</button>
              </li>
              {{/if}}
              {{/each}}
            </ul>


          </div>

        </div>

        <!-- end .row -->

        <div class="row">
          <div class="col-sm-12">
            <div class="center col-sm-12">

              <h2>Add A Burger!</h2>

              <form id="burger-form">
              <div>
                <div class="form-group">
                  <label for="ca"></label>
                  <p>Enter a burger you want to order and click the Submit Order button.</p>
                  <input type="text" id="name-input" class='form-control'>
                </div>
          </div>
                

                <button class="btn-primary" type="submit">Submit Order</button>
              </form>

            </div>

          </div>



        </div>
      </div>
      </div>
      </div>
<script src="/assets/js/burgers.js"></script>